body {
  margin: 0;
  font-family: sans-serif;
  background-color: #bbb;
}

.box {
  width: 240px;
  height: 240px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #000000;
  white-space: normal;
  word-break: break-all;
  text-wrap: balance;
}
